<div class="container justify-content-center">
  <div class="container col-6 rounded bg-transparent text-dark">
   <!-- TABLA DATA -->
    <table class="table mi-tabla table-striped table-bordered">

      <colgroup>
        <col style="width:30px;"> <!-- ID -->
        <col> <!-- Emisor -->
        <col> <!-- Receptor -->
        <col> <!-- Mov -->
        <col style="width:50px;"> <!-- Rage -->
        <col> <!-- Escenario -->
        <col> <!-- Posicion -->
        <col> <!-- DI -->
        <col style="width:20px;"> <!-- KO -->
        <col> <!-- Editar -->
        <col> <!-- Eliminar -->
      </colgroup>

      <thead>
        <tr>
          <th scope="col" class="col-id">#</th>
          <th scope="col" class="textEncabezado">Emi</th>
          <th scope="col" class="textEncabezado">Rec</th>
          <th scope="col" class="textEncabezado">Mov</th>
          <th scope="col" class="textEncabezado col-rage">Rage</th>
          <th scope="col" class="textEncabezado">Escenario</th>
          <th scope="col" class="textEncabezado">Posicion</th>
          <th scope="col" class="textEncabezado">DI</th>
          <th scope="col" class="textEncabezado col-ko">KO%</th>
          <th scope="col" class="textEncabezado">Acciones</th>
          <th scope="col" class="textEncabezado"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="col-id"></td>
          <td><input [(ngModel)]="filtroEmisor" (ngModelChange)="cargarRegistros()" type="text" class="txtListado"></td>
          <td><input [(ngModel)]="filtroReceptor" (ngModelChange)="cargarRegistros()" type="text" class="txtListado"></td>
          <td  ><input [(ngModel)]="filtroMov" (ngModelChange)="cargarRegistros()" type="text" class="txtListado"></td>
          <td class="col-rage"><input [(ngModel)]="filtroRage" (ngModelChange)="cargarRegistros()" type="text" class="txtListado"></td>
          <td><input [(ngModel)]="filtroStage" (ngModelChange)="cargarRegistros()" type="text" class="txtListado"></td>
          <td><input [(ngModel)]="filtroPosicion" (ngModelChange)="cargarRegistros()" type="text" class="txtListado"></td>
          <td></td>
          <td class="col-ko"><input type="text" class="txtListado"></td>
          <td></td>
          <td></td>
        </tr>

        <tr *ngFor="let item of LstRegistros">
          <td class="col-id">{{ item.id }}</td>
          <td>{{ item.abreviaturaPersonajeEmisor }}</td>
          <td>{{ item.abreviaturaPersonajeReceptor }}</td>
          <td>{{ item.nombreMovimiento }}</td>
          <td class="col-rage">{{ item.rage }}%</td>
          <td>{{ item.nombreEscenario }}</td>
          <td>{{ item.nombrePosicion }}</td>
          <td>{{ item.di }}</td>
          <td class="col-ko">{{ item.porcentajeKO }}%</td>
          <td>
            <div class="action-buttons">
              <app-editar-registro [inputIdRegistro]="item.id" [inputIdPjEmisor]="item.idPersonajeEmisor"
                [inputIdPjReceptor]="item.idPersonajeReceptor" [inputIdEscenario]="item.idEscenario"
                [inputIdMovimiento]="item.idMovimiento" [inputIdKO]="item.porcentajeKO" [inputRage]="item.rage"
                (actualizarLista)="cargarRegistros()">
              </app-editar-registro>

              <app-eliminar-registro [inputIdRegistro]="item.id" (actualizarLista)="cargarRegistros()">
              </app-eliminar-registro>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
   <!-- CHECKBOXS DI -->
    <div style="display: flex; align-items: center; gap: 10px;">
      <span><strong>D.I:</strong></span>
      <label>
      <input type="checkbox" name="di" value="si">
           SI
      </label>

      <label>
      <input type="checkbox" name="di" value="no">
             NO
      </label>
    </div>
    <!-- BTN AGREGAR -->
    <app-agr-registro (actualizarLista)="cargarRegistros()"></app-agr-registro>
  </div>
</div>
