<div class="container justify-content-center">
  <div class="container col-6 rounded bg-transparent  text-dark ">
    
    <table class="table mi-tabla table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col"  class="textEncabezado">#</th>
          <th scope="col"  class="textEncabezado" >Emisor</th>
          <th scope="col"  class="textEncabezado">Receptor</th>
          <th scope="col"  class="textEncabezado">Mov</th>
          <th scope="col"  class="textEncabezado">Rage</th>
          <th scope="col"  class="textEncabezado">Escenario</th>
          <th scope="col"  class="textEncabezado">KO%</th>
          <th scope="col"  class="textEncabezado"></th>
          <th scope="col"  class="textEncabezado"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of valor">
          <td class="textNormal">{{ item.id }}</td>
          <td  class="textNormal">{{ item.nombrePersonajeEmisor }}</td>
          <td  class="textNormal">{{ item.nombrePersonajeReceptor }}</td>
          <td class="textNormal">{{ item.nombreMovimiento }}</td>
          <td class="textNormal">{{ item.rage }}%</td>
          <td class="textNormal">{{ item.nombreEscenario }}</td>
          <td  class="textNormal">{{ item.porcentajeKO }}%</td>
          <td class="textNormal">
            <app-editar-registro 
              [inputIdRegistro]="item.id"
              [inputIdPjReceptor]="item.idPersonajeReceptor"
              [inputIdEscenarioInput]="item.idEscenario"
              [inputIdKOInput]="item.porcentajeKO"
              (actualizarLista)="cargarRegistros()">
              >
            </app-editar-registro>
          </td>
          <td  class="textNormal">  
          <app-eliminar-registro
              [inputIdRegistro]="item.id"
              (actualizarLista)="cargarRegistros()">
          </app-eliminar-registro>
            </td>
        </tr>
      </tbody>
    </table>
    <app-agr-registro
    (actualizarLista)="cargarRegistros()"
    ></app-agr-registro>

  </div>
</div>