<dialog #myDialog>
    <div class="botonx">
        <a (click)="myDialog.close()">X</a>
    </div>
    <div class="fila">
        <label>Emisor:</label>
        <select class="selectHover1" name="miselect" [(ngModel)]="selectPersonaje">
            <option *ngFor="let item of lstPersonajes">
                {{item.nombre }}
            </option>
        </select>
    </div>
    <div class="fila">
        <label>Receptor      :</label>
        <select class="selectHover2">
            <option *ngFor="let item of lstPersonajes">
                {{item.nombre }}
            </option>
        </select>
    </div>
    <div class="fila">
        <label>Escenario :</label>
        <select class="selectHover">
            <option *ngFor="let item of lstEscenarios">
                {{item.nombre }}
            </option>
        </select>
    </div>
    <div class="fila">
        <label>Porcentaje :</label>
        <input type="text" id="txtPorcentajeKo">
    </div>
    <div class="boton ">
        <a (click)="addNuevoPorcentajeKO()"> AGREGAR  </a>
    </div>
</dialog>
<div className="button-container">
    <a
    class="boton" (click)="myDialog.show()"
    >
    + KO%
    </a>
  </div>