dialog {
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  
}

dialog div {
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    background-color: #2b0c5e;
    color:white;
}

button:first-child {
    float: right;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.botonx {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
}




.selectHover1:hover {
    background-color: greenyellow;
}

.selectHover2:hover {
    background-color: red;
}

.selectHover:hover {
    background-color: goldenrod;
}








.fila {
    display: flex;
    align-items: center; /* Alinea verticalmente label y select */
    gap: 10px; /* Espaciado entre el label y el select */
    width: 100%;
}

.fila label {
    white-space: nowrap; /* Evita que el label se divida en varias líneas */
}

.fila select {
    flex: 1; /* Permite que el select ocupe el espacio disponible */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}




















@media screen and (max-width: 430px) {
  
    dialog {
        position: fixed;
        top: 20%;
        left: 46%;
        transform: translate(-50%, -50%);
        
    }
  }
  