  <app-toolbar></app-toolbar>
 <!-- <div class="App">
     <h2 class="textTituloConfirmacion">aaa</h2>
      
      <table class="table">
        <tbody>
          <tr>
            <td class="textEncabezado">queso:</td>

            <td class="textNormal">AAAAAAAAAAAAAAAAAAAAAAAA</td>
          </tr>
          <tr>
            <td class="textEncabezado">budin:</td>
            <td class="textNormal">x</td>
          </tr>
          <tr>
            <td class="textEncabezado">tomate:</td>
            <td class="textNormal">y</td>
          </tr>
        </tbody>
      </table>

      <h3 class="textEncabezadoTablaVentas">z</h3>
      <table class="table">
        <thead>
          <tr>
            <th>x</th>
            <th>so</th>
            <th>s</th>
            <th>d/f</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="textNormalVentas">a</td>
            <td class="textNormalVentas">s</td>
            <td class="textNormalVentas">s</td>
            
          </tr>
          <tr>
            <td class="textNormalVentas"></td>
            <td class="textNormalVentas"></td>
            <td class="textNormalVentas"></td>
           
          </tr>
          <tr>
            <td class="textNormalVentas"></td>
            <td class="textNormalVentas"></td>
            <td class="textNormalVentas"></td>
        
          </tr>
        </tbody>
      </table>

      <p class="textNotaAzul">
       zzzz
      </p>

      <div class="button-container">
        <a
         
          class="boton"
        >
zzzz
        </a>
      </div>
    </div> -->
    <div class="content" role="main">
      <app-matchups></app-matchups>
    </div> 