<dialog #myDialog>
    <div class="botonx">
        <a (click)="myDialog.close()">X</a>
    </div>
    <!-- <div class="fila">
        <label>Emisor:</label>
        <select class="selectHover1" name="miselect" [(ngModel)]="selectPersonaje">
            <option *ngFor="let item of lstPersonajes">
                {{item.nombre }}
            </option>
        </select>
    </div> -->
    <div class="fila">
        <label>Emisor :</label>
        <select [(ngModel)]="selectedPersonajeEmisor" class="selectHover2">
            <option *ngFor="let item of lstPersonajes" [value]="item.id">
                {{item.nombre }}
            </option>
        </select>
        <!-- <p>Selected: {{ selectedPersonaje }}</p> -->
    </div>
    <div class="fila">
        <label>Receptor :</label>
        <select [(ngModel)]="selectedPersonajeReceptor" class="selectHover2">
            <option *ngFor="let item of lstPersonajes" [value]="item.id">
                {{item.nombre }}
            </option>
        </select>
        <!-- <p>Selected: {{ selectedPersonaje }}</p> -->
    </div>
    

    <div class="fila">
        <label>Escenario :</label>
        <select [(ngModel)]="selectedEscenario" class="selectHover">
            <option *ngFor="let item of lstEscenarios"  [value]="item.id">
                {{item.nombre }}
            </option>
        </select>
        <!-- <p>Selected: {{ selectedEscenario }}</p> -->
    </div>

    <div class="fila">
        <label>Movimiento :</label>
        <select [(ngModel)]="selectedMovimiento" class="selectHover">
            <option *ngFor="let item of lstMovimientos"  [value]="item.id">
                {{item.nombre }}
            </option>
        </select>
        <!-- <p>Selected: {{ selectedEscenario }}</p> -->
    </div>

    <div class="fila">
        <label>Rage :</label>
        <input [(ngModel)]="textboxRage" type="text" id="txtPorcentajeKo" class="selectHover">
        <!-- <p>Selected: {{ selectedPersonaje }}</p> -->
    </div>

      <div class="fila">
        <label>DI :</label>
         <div class="fila" style="display: flex; gap: 20px; align-items: center;">
              <label>
                <input type="checkbox"  [(ngModel)]="chkDiOptimo" (ngModelChange)="cambiarDI(true)" />
                Optimo
              </label>
              <label>
                <input type="checkbox" [(ngModel)]="chkDiNinguno" (ngModelChange)="cambiarDI(false)"/>
                Ninguno
              </label>
          </div>
    </div>

    <div class="fila">
        <label>Porcentaje :</label>
        <input [(ngModel)]="porcentajeKo" type="text" id="txtPorcentajeKo" class="selectHover">
        <!-- <p>ko: {{ porcentajeKo }}</p> -->
    </div>
    <div class="boton ">
        <a (click)="updatePorcentajeKO()"> EDITAR  </a>
    </div>
</dialog>
<div className="button-container">
    <a
    class="boton" (click)="myDialog.show()"
    >
    <img     src="https://img.icons8.com/ios/50/FFFFFF/edit--v1.png" alt="Edit Icon" style="width: 22px; height: 22px;" /> 
    </a>
  </div>